a {
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

.btn {
  display: inline-block;
  padding: 1.3rem 4rem;
  font-weight: 700;
  font-size: 1.8rem;
  border: 0;
  border-radius: 0.8rem;
  outline: none;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  cursor: pointer;
  margin: 0 auto;
  z-index: 1;
}

.btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 1;
}

.btn:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.btn--primary {
  color: #fff;
  background-color: #0A994A;
  -webkit-box-shadow: 0px 20px 32px rgba(10, 153, 74, 0.25);
          box-shadow: 0px 20px 32px rgba(10, 153, 74, 0.25);
}

.btn--primary:hover {
  background-color: #0cb257;
}

.btn--primary:active {
  background-color: #09803e;
  -webkit-box-shadow: 0px 10px 16px rgba(10, 153, 74, 0.3);
          box-shadow: 0px 10px 16px rgba(10, 153, 74, 0.3);
}

.btn--secondary {
  color: #374656;
  background: #ffd63b;
}

.btn--secondary:hover {
  background-color: #fff;
  color: #0cb257;
}

.btn--secondary:active {
  color: #09803e;
  background: #F1F5F8;
}

.btn + div {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.btn:hover + div {
  display: block;
}

.video-btn {
  display: block;
  position: relative;
  width: 4.8rem;
  height: 4.8rem;
  background: url(../img/icon-play.svg) no-repeat 52% center, #ffd63b;
  background-size: 1.4rem;
  border-radius: 50%;
  margin: 6.4rem auto;
}

@media screen and (max-width: 768px) {
  .video-btn {
    margin-top: 0;
  }
}

.video-btn::before, .video-btn::after {
  content: '';
  display: block;
  width: 6.4rem;
  height: 6.4rem;
  position: absolute;
  top: -0.8rem;
  left: -0.8rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: -1;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: test 4s ease infinite;
          animation: test 4s ease infinite;
}

.video-btn:after {
  width: 8rem;
  height: 8rem;
  top: -1.6rem;
  left: -1.6rem;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.video-btn + span {
  display: block;
  margin: -4rem auto;
  text-align: center;
  color: #fff;
  font-size: 1.2rem;
}

@-webkit-keyframes test {
  to {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0;
  }
}

@keyframes test {
  to {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0;
  }
}

h1, h2 {
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 1.6rem;
  letter-spacing: 0.02em;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  h1, h2 {
    font-size: 2.8rem;
    padding: 0 0.8rem;
  }
}

h1 + span, h2 + span {
  display: block;
  font-size: 1.8rem;
  text-align: center;
  color: rgba(48, 69, 92, 0.8);
  padding: 0 1.6rem;
}

@media screen and (max-width: 768px) {
  h1 + span, h2 + span {
    font-size: 1.6rem;
  }
}

h3 {
  font-size: 2.2rem;
}

@media screen and (max-width: 768px) {
  h3 {
    font-size: 1.6rem;
  }
}

h3 + p {
  font-size: 1.6rem;
  line-height: 1.55;
}

h4 {
  font-size: 1.4rem;
  font-weight: 900;
  line-height: 1.75;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-top: 2.6rem;
  margin-bottom: 1.3rem;
}

h4 + p {
  font-size: 1.4rem;
  line-height: 1.75;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
}

html, body {
  margin: 0;
  position: relative;
  background: #F1F5F8;
  font-family: 'Lato', sans-serif;
  color: #374656;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.content-align {
  max-width: 121.6rem;
  margin: 0 auto;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex-container--column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-container--row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.grid {
  display: -ms-grid;
  display: grid;
  max-width: 121.6rem;
  margin: 0 auto;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media screen and (max-width: 768px) {
  .hideOnMobile {
    display: none;
  }
}

.showOnMobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .showOnMobile {
    display: block;
  }
}

section,
footer {
  position: relative;
  padding: 6.4rem 0;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  section {
    padding: 3.2rem 0;
  }
}

::-moz-selection {
  color: #374656;
  background: #FFCC00;
}

::selection {
  color: #374656;
  background: #FFCC00;
}

@supports (will-change: transform) {
  .scroll {
    -webkit-transition: -webkit-transform 0.1s linear;
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    transition: transform 0.1s linear, -webkit-transform 0.1s linear;
    will-change: transform;
  }
}

.header {
  position: relative;
  width: 100%;
  background: url(../img/city-symbol.svg) repeat-x bottom left, url(../img/bg.svg) repeat center 7%, url(../img/planet.svg) no-repeat 85% 40%, -webkit-gradient(linear, left bottom, left top, from(#0771b2), to(#1487cf));
  background: url(../img/city-symbol.svg) repeat-x bottom left, url(../img/bg.svg) repeat center 7%, url(../img/planet.svg) no-repeat 85% 40%, linear-gradient(to top, #0771b2 0%, #1487cf 100%);
  background-attachment: fixed;
  overflow: hidden;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .header {
    background-attachment: initial;
  }
}

.header .header-mask {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 106%;
  position: relative;
  bottom: -0.4rem;
}

.header #spacegirl {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: -50%;
  margin: 0px auto;
  z-index: -1;
  max-width: 55rem;
}

@media screen and (max-width: 768px) {
  .header #spacegirl {
    display: none;
  }
}

.header h1 {
  color: #fff;
  font-size: 4.3em;
  text-transform: uppercase;
  letter-spacing: 0.6rem;
  line-height: 1.8em;
  margin-top: 6.4rem;
}

.header .content {
  font-size: 1vmin;
  padding: 0 1.6rem;
  padding-bottom: 6rem;
}

@media screen and (max-width: 768px) {
  .header .content {
    font-size: 1.4vmin;
  }
}

.header .mobile-nav-container {
  display: none;
}

@media screen and (max-width: 768px) {
  .header .mobile-nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-self: end;
    -webkit-transform: translateX(1.6rem);
            transform: translateX(1.6rem);
  }
}

@media screen and (max-width: 768px) {
  .header .mobile-nav-container .nav-link-mobile {
    width: 4.8rem;
    height: 4.8rem;
    display: inline-block;
  }
}

@media screen and (max-width: 768px) {
  .header .mobile-nav-container .nav-link-mobile:nth-of-type(1) {
    background: url(../img/icon-user.svg) no-repeat center;
  }
}

@media screen and (max-width: 768px) {
  .header .mobile-nav-container .nav-link-mobile:nth-of-type(2) {
    background: url(../img/icon-menu.svg) no-repeat center;
  }
}

nav {
  padding: 7.2rem 2.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  nav {
    padding: 1.6rem;
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 12.5rem;
  height: auto;
  max-width: 16rem;
  max-height: 4rem;
  -ms-flex-item-align: center;
      align-self: center;
}

@media screen and (max-width: 768px) {
  .logo {
    width: 10rem;
    height: auto;
  }
}

.nav-link {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.16);
  padding: 0 0.8rem;
  margin: 0 0.8rem;
  line-height: 3.8rem;
  border: 1px solid transparent;
  border-radius: 0.8rem;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.nav-link:hover {
  border-color: #fff;
}

.nav-link-container {
  text-align: right;
}

@media screen and (max-width: 768px) {
  .nav-link-container {
    display: none;
  }
}

ul.language-switch {
  display: inline-block;
  margin: 0;
  margin-left: -2.4rem;
  font-size: 0;
}

ul.language-switch li {
  color: #fff;
  display: inline-block;
  position: relative;
}

ul.language-switch li input[type=radio] {
  position: absolute;
  visibility: hidden;
}

ul.language-switch li label {
  display: block;
  position: relative;
  font-weight: 900;
  font-size: 1.2rem;
  padding: 1.2rem 1.2rem;
  margin: -0.8rem 0;
  z-index: 9;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

ul.language-switch li .check {
  display: block;
  position: absolute;
  border: 1px solid #fff;
  background-color: rgba(48, 135, 233, 0.15);
  height: 4rem;
  width: 100%;
  top: -0.8rem;
  left: 0;
  z-index: 5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: border .25s linear;
  transition: border .25s linear;
}

ul.language-switch > li:first-of-type > .check {
  border-radius: 0.8rem 0 0 0.8rem;
}

ul.language-switch > li:last-of-type > .check {
  border-radius: 0 0.8rem 0.8rem 0;
}

ul.language-switch input[type=radio]:checked ~ .check {
  background-color: #fff;
}

ul.language-switch input[type=radio]:checked ~ label {
  color: #374656;
}

.counter {
  font-weight: 900;
  font-size: 9.4em;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffd63b;
  margin-bottom: 0.8rem;
  margin-top: 5rem;
}

.counter::before {
  content: attr(data-text);
  font-weight: 700;
}

.counter + span {
  display: block;
  font-size: 1.8rem;
  line-height: 3.2rem;
  letter-spacing: 0.2rem;
  text-align: center;
  color: #F1F5F8;
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .counter + span {
    font-size: 1.4rem;
    line-height: 2.4rem;
  }
}

.cloud {
  position: absolute;
  width: 184px;
  height: 48px;
  z-index: -1;
}

.cloud:first-of-type {
  width: 120px;
  left: 4%;
  top: 20%;
}

@media screen and (max-width: 768px) {
  .cloud:first-of-type {
    left: -20%;
  }
}

.cloud:last-of-type {
  right: 4%;
  top: 40%;
}

@media screen and (max-width: 768px) {
  .cloud:last-of-type {
    right: -30%;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

.header .btn--secondary {
  margin: 4% auto;
}

.steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 118.4rem;
  margin: 0 auto;
  color: #fff;
  font-size: 1.4rem;
  line-height: 1.75;
  text-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.16);
  text-align: center;
  padding: 4rem 1.6rem;
}

@media screen and (max-width: 768px) {
  .steps {
    position: initial;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1.6rem 1.6rem 8rem 1.6rem;
    margin-top: 3.2rem;
  }
}

.steps .step__arrow {
  background: url(../img/arrow-1.svg) no-repeat center;
}

@media screen and (max-width: 768px) {
  .steps .step__arrow {
    height: 5.2rem;
    background: url(../img/icon-arr-back.svg) no-repeat center;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
}

.steps .step__two + .step__arrow {
  background: url(../img/arrow-2.svg) no-repeat center;
}

@media screen and (max-width: 768px) {
  .steps .step__two + .step__arrow {
    background: url(../img/icon-arr-back.svg) no-repeat center;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
}

.steps img {
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-transform: translateY(-2rem);
          transform: translateY(-2rem);
}

@media screen and (max-width: 768px) {
  .steps img {
    padding: 1.6rem 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.steps h2 {
  margin-top: 1.6rem;
  font-size: 3.5rem;
  letter-spacing: initial;
  line-height: initial;
}

@media screen and (max-width: 768px) {
  .steps h2 {
    margin-bottom: 0.2rem;
  }
}

.steps p {
  margin: 0.8rem 0;
}

@media screen and (max-width: 768px) {
  .steps p {
    padding: 0 3% 0.8rem 3%;
  }
}

.steps > div {
  -ms-flex-preferred-size: calc(100% / 7);
      flex-basis: calc(100% / 7);
}

@media screen and (max-width: 768px) {
  .steps > div {
    background: rgba(0, 63, 102, 0.4);
    border-radius: 8px;
    mix-blend-mode: hard-light;
  }
}

.mouseScroll {
  position: relative;
  width: 2.2rem;
  height: 3.5rem;
  border: 2px solid #fff;
  border-radius: 1.75rem;
  margin: 3.2rem auto 0 auto;
  -webkit-animation: moveY 1100ms ease-in-out infinite alternate;
          animation: moveY 1100ms ease-in-out infinite alternate;
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}

@-webkit-keyframes moveY {
  to {
    -webkit-transform: translateY(30%);
            transform: translateY(30%);
  }
}

@keyframes moveY {
  to {
    -webkit-transform: translateY(30%);
            transform: translateY(30%);
  }
}

.mouseScroll::after {
  content: '';
  width: 2px;
  height: 6px;
  font-weight: 900;
  background-color: #fff;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  top: 4px;
  -webkit-animation: mouseWheel 2200ms ease infinite;
          animation: mouseWheel 2200ms ease infinite;
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}

@-webkit-keyframes mouseWheel {
  60%, 61% {
    opacity: 0;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  59% {
    -webkit-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
    opacity: 0;
  }
  80%, 100% {
    opacity: 1;
  }
}

@keyframes mouseWheel {
  60%, 61% {
    opacity: 0;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  59% {
    -webkit-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
    opacity: 0;
  }
  80%, 100% {
    opacity: 1;
  }
}

#popup-video {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 200;
}

#popup-video iframe {
  width: 128rem;
  height: 72rem;
  margin: 0 auto;
  border: 0;
}

@media screen and (max-width: 768px) {
  #popup-video iframe {
    width: 100%;
    height: 30%;
  }
}

#popup-video a {
  display: block;
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;
  color: #fff;
  font-size: 2.4rem;
  text-align: center;
  line-height: 2.5;
}

#popup-video a::before, #popup-video a::after {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  content: '';
  width: 24px;
  height: 2px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#popup-video a:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#benefits .grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  padding: 5.6rem 0;
}

@supports (display: grid) {
  #benefits .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (32.4rem)[auto-fit];
        grid-template-columns: repeat(auto-fit, 32.4rem);
    grid-gap: 2.4rem;
  }
}

@media screen and (max-width: 768px) {
  #benefits .grid {
    -ms-grid-columns: initial;
        grid-template-columns: initial;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
}

#benefits .grid .grid-item {
  max-width: 32rem;
  margin: 1.2rem;
  background: #fff;
  border-radius: 0.8rem;
  padding: 5.6rem 2.4rem 1.6rem;
  -webkit-box-shadow: 0px 6px 24px rgba(29, 107, 178, 0.26);
          box-shadow: 0px 6px 24px rgba(29, 107, 178, 0.26);
}

@supports (display: grid) {
  #benefits .grid .grid-item {
    margin: initial;
  }
}

@media screen and (max-width: 768px) {
  #benefits .grid .grid-item {
    max-width: 100%;
  }
}

#benefits .grid .grid-item:nth-of-type(even) {
  background-color: #FFD83A;
  -webkit-box-shadow: 0px 6px 24px rgba(255, 216, 58, 0.26);
          box-shadow: 0px 6px 24px rgba(255, 216, 58, 0.26);
}

#benefits .grid .grid-item img {
  height: 4.8rem;
  width: auto;
}

#benefits .ref-bgEl {
  position: absolute;
  top: 20%;
  right: -25%;
  z-index: -1;
}

#how .grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 7%;
}

@supports (display: grid) {
  #how .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(260px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  }
}

#how .grid:first-of-type {
  padding-top: 2.4rem;
}

#how .grid:nth-of-type(even) .svg-object {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media screen and (max-width: 768px) {
  #how .grid:nth-of-type(even) .svg-object {
    -webkit-box-ordinal-group: initial;
        -ms-flex-order: initial;
            order: initial;
  }
}

#how .grid div {
  padding: 2rem 0;
}

@media screen and (max-width: 768px) {
  #how .grid div {
    padding-bottom: 4rem;
  }
}

#how .svg-object {
  max-height: 520px;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media screen and (max-width: 768px) {
  #how .svg-object {
    max-height: 320px;
  }
}

#how .ref-bgEl {
  position: absolute;
  z-index: -1;
}

#how .ref-bgEl:nth-of-type(1) {
  top: 5%;
  left: -25%;
}

#how .ref-bgEl:nth-of-type(2) {
  bottom: 20%;
  right: -20%;
}

#who .grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8.8rem 7%;
}

@supports (display: grid) {
  #who .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: column;
  }
}

@media screen and (max-width: 768px) {
  #who .grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (auto)[5];
        grid-template-rows: repeat(5, auto);
    grid-auto-flow: row;
    padding: 3.2rem 1.6rem;
    text-align: center;
  }
}

#who .grid ul {
  list-style: none;
}

#who .grid ul:nth-of-type(1) {
  text-align: right;
}

@media screen and (max-width: 768px) {
  #who .grid ul:nth-of-type(1) {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  #who .grid ul:nth-of-type(2) {
    text-align: center;
  }
}

#who .grid ul li {
  padding: 0.4rem;
}

#who .grid .grid-item {
  padding: 0 4rem;
}

@media screen and (max-width: 768px) {
  #who .grid .grid-item {
    padding: 0;
  }
}

#who .grid .grid-item:nth-of-type(1) {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#who .grid .grid-item img {
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  #who .grid .grid-item img {
    width: 75%;
  }
}

@media screen and (max-width: 768px) {
  #who .grid .grid-item h4, #who .grid .grid-item p {
    font-size: 1.6rem;
  }
}

#who .ref-bgEl {
  position: absolute;
  bottom: -20%;
  left: -30%;
  z-index: -1;
}

.swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-container {
  width: 100%;
  padding: 7.2rem 2.4rem 0 2.4rem;
}

.swiper-container .flex-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 4rem;
}

.swiper-slide {
  font-size: 1.4rem;
  line-height: 1.75;
  background-color: #fff;
  border-radius: 0.8rem;
  -webkit-box-shadow: 0px 6px 32px rgba(29, 107, 178, 0.12);
          box-shadow: 0px 6px 32px rgba(29, 107, 178, 0.12);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.swiper-slide:not(.swiper-slide-active) {
  -webkit-transform: scale(0.95) !important;
          transform: scale(0.95) !important;
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .swiper-slide:not(.swiper-slide-active) {
    -webkit-transform: scale(1) !important;
            transform: scale(1) !important;
  }
}

.swiper-slide-container {
  padding: 3.2rem;
}

.swiper-slide-container p {
  padding-top: 1.6rem;
}

.swiper-pagination {
  position: relative;
}

.swiper-pagination-bullet {
  margin: 0.2rem;
}

.swiper-button-next,
.swiper-button-prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  left: initial;
  right: initial;
  top: initial;
  bottom: 0;
  width: 3.2rem;
  height: 3.2rem;
  margin: 3.2rem;
  border-radius: 50%;
  background: #DFE5EB;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: background 0.4s ease;
  transition: background 0.4s ease;
}

@media screen and (max-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}

.swiper-button-prev {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.swiper-button-next:hover .icon-arrow--small::before,
.swiper-button-next:hover .icon-arrow--small::after,
.swiper-button-prev:hover .icon-arrow--small::before,
.swiper-button-prev:hover .icon-arrow--small::after {
  background-color: #0A994A;
}

.swiper-button-next:active,
.swiper-button-prev:active {
  background: #D1D9E0;
}

.feedback-user-info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback-user-info ul {
  list-style: none;
  padding: 0 2.4rem;
  max-width: 40%;
}

.feedback-user-info .user-pic {
  width: 6.4rem;
  height: 6.4rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.feedback-user-info .feedback-user-name {
  display: block;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.feedback-user-info .feedback-date {
  font-size: 1.2rem;
  color: rgba(48, 69, 92, 0.8);
}

.feedback-user-info .social-link {
  position: absolute;
  right: 0;
  padding: 0.8rem;
}

.swiper-pagination-bullet {
  background: #dadfe7;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #0A994A;
  -webkit-transition: background 0.6s;
  transition: background 0.6s;
}

#doubleCashback .soon-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background: #ffd83a;
  max-width: 8rem;
  padding: 0.8rem 1.6rem;
  margin: 0 auto;
  -webkit-clip-path: polygon(100% 0, 88% 50%, 100% 100%, 0 100%, 12% 54%, 0 0);
          clip-path: polygon(100% 0, 88% 50%, 100% 100%, 0 100%, 12% 54%, 0 0);
}

#doubleCashback .flex-container {
  padding: 7.2rem 7% 0 7%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  #doubleCashback .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#doubleCashback #pacman {
  max-width: 40rem;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

#doubleCashback .doubleCashback__p {
  font-size: 1.8rem;
  line-height: 1.6;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

@media screen and (max-width: 768px) {
  #doubleCashback .doubleCashback__p {
    font-size: 1.4rem;
  }
}

#faq .transition, #faq .faq__question-content,
#faq .faq__question i::before,
#faq .faq__question i::after {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#faq h3 {
  display: block;
  padding: 2.4rem 3.2rem;
  padding-right: 7.2rem;
  line-height: 1.4;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0;
  background-color: #fefffa;
  border-radius: 0.8rem;
  -webkit-box-shadow: 0px 6px 32px rgba(29, 107, 178, 0.12);
          box-shadow: 0px 6px 32px rgba(29, 107, 178, 0.12);
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  #faq h3 {
    padding: 2.4rem;
    padding-right: 4.8rem;
  }
}

#faq .faq__question-wrap {
  list-style: none;
  padding: 4rem 7% 4rem 7%;
  margin: 0;
}

@media screen and (max-width: 768px) {
  #faq .faq__question-wrap {
    padding: 4rem 1.6rem 0 1.6rem;
  }
}

#faq .faq__question-wrap .faq__question {
  position: relative;
  padding: 0;
  margin: 0;
  padding-bottom: 4px;
  padding-top: 1.8rem;
  border-top: 1px dotted #dce7eb;
}

#faq .faq__question-wrap .faq__question:hover h3 {
  background-color: #f4f8fb;
}

#faq .faq__question-wrap .faq__question:nth-of-type(1) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

#faq .faq__question-wrap .faq__question:nth-of-type(2) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

#faq .faq__question-wrap .faq__question:nth-of-type(3) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

#faq .faq__question-wrap .faq__question:last-of-type {
  padding-bottom: 0;
}

#faq ul.faq__question-content {
  margin: 3.2rem 2.4rem 1.6rem 2.4rem;
}

#faq .faq__question-content {
  color: rgba(48, 69, 92, 0.8);
  font-size: 1.6rem;
  line-height: 1.4;
  letter-spacing: 0.5px;
  position: relative;
  overflow: hidden;
  max-height: 80rem;
  margin: 3.2rem 2.4rem 1.6rem 0;
  padding: 0 3.2rem;
  z-index: 2;
}

#faq .faq__question-content--list {
  list-style: none;
  margin: 3.2rem 2.4rem 1.6rem 2.4rem;
}

#faq .faq__question-content--list li {
  padding: 0.6rem 0;
}

#faq .faq__question-content--list li::before {
  display: inline-block;
  content: "\2022";
  color: #0A994A;
  width: 2.4rem;
  margin-left: -2.4rem;
}

@media screen and (max-width: 768px) {
  #faq .faq__question-content--list li::before {
    font-weight: 700;
  }
}

#faq .faq__question-content p:first-of-type {
  margin: 0;
}

#faq .faq__question-content strong {
  color: #374656;
}

#faq .faq__question .icon-arrow--small {
  position: absolute;
  margin-top: 3.4rem;
  right: 4rem;
}

@media screen and (max-width: 768px) {
  #faq .faq__question .icon-arrow--small {
    right: 2.4rem;
    margin-top: 3.1rem;
  }
}

#faq .faq__question .icon-arrow--small::before,
#faq .faq__question .icon-arrow--small::after {
  background-color: #0A994A;
}

#faq .faq__question input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}

#faq .faq__question input[type=checkbox]:checked ~ .faq__question-content {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
}

#faq .faq__question input[type=checkbox]:checked ~ .icon-arrow--small::before {
  -webkit-transform: translate(2px, 0) rotate(45deg);
          transform: translate(2px, 0) rotate(45deg);
}

#faq .faq__question input[type=checkbox]:checked ~ .icon-arrow--small::after {
  -webkit-transform: translate(-2px, 0) rotate(-45deg);
          transform: translate(-2px, 0) rotate(-45deg);
}

#ready {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 0 8rem 0;
}

@media screen and (max-width: 768px) {
  #ready {
    padding: 0 1.6rem 8rem 1.6rem;
    text-align: center;
  }
}

#ready h2 {
  text-align: left;
  font-weight: 400;
  color: #0A994A;
  margin-bottom: -0.8rem;
}

@media screen and (max-width: 768px) {
  #ready h2 {
    text-align: center;
  }
}

#ready p {
  font-size: 1.8rem;
}

#ready .btn-wrap {
  padding: 2rem;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (max-width: 768px) {
  #ready .btn-wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.hide-svg-symbols {
  position: absolute;
  height: 0;
  width: 0;
  visibility: hidden;
}

.icon-arrow--small {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 3px;
  height: 10px;
}

.icon-arrow--small::before,
.icon-arrow--small::after {
  content: "";
  position: absolute;
  background-color: #788392;
  width: 3px;
  height: 9px;
  -webkit-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}

.icon-arrow--small:before {
  -webkit-transform: translate(-2px, 0) rotate(45deg);
          transform: translate(-2px, 0) rotate(45deg);
}

.icon-arrow--small:after {
  -webkit-transform: translate(2px, 0) rotate(-45deg);
          transform: translate(2px, 0) rotate(-45deg);
}

footer {
  background-color: #fff;
  border-top: 1px solid #E8E9EB;
  padding-bottom: 1.6rem;
}

footer .logo {
  display: block;
  margin: 0 auto;
}

footer .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: 4rem;
}

@media screen and (max-width: 768px) {
  footer .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .menu .menu-link {
  color: #374656;
  font-size: 1.4rem;
  font-weight: 900;
  letter-spacing: 0.05em;
  padding: 0.8rem 1.6rem;
  text-transform: uppercase;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

footer .menu .menu-link:hover {
  color: #0A994A;
}

footer .social-conatiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3.2rem;
}

@media screen and (max-width: 768px) {
  footer .social-conatiner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  footer .social-conatiner > div {
    padding: 1.6rem 0;
  }
}

footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
}

footer .social a {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  padding: 1.2rem;
  border-radius: 50%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

footer .social [aria-label="fk"] {
  background: url(../img/fk.svg) no-repeat center;
}

footer .social [aria-label="im"] {
  background: url(../img/im.svg) no-repeat center;
}

footer .social [aria-label="yb"] {
  background: url(../img/yb.svg) no-repeat center;
}

footer .contact-phone {
  font-size: 2.2rem;
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  text-align: left;
}

@media screen and (max-width: 768px) {
  footer .contact-phone {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

footer .contact-phone a {
  position: relative;
  color: #374656;
  font-weight: 700;
}

footer .contact-phone a::before {
  display: inline-block;
  position: relative;
  top: 0.8rem;
  margin-right: 1.6rem;
  content: '';
  width: 3.6rem;
  height: 3.4rem;
  background: url(../img/help.svg) no-repeat center;
}

@media screen and (max-width: 768px) {
  footer .contact-phone a::before {
    display: none;
  }
}

footer .securedBy {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  text-align: right;
}

@media screen and (max-width: 768px) {
  footer .securedBy {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

footer .securedBy img {
  margin: 0 0.8rem;
}
/*# sourceMappingURL=style.css.map */