$colors: (
    accent: #0A994A,
    accent-light: #0cb257,
    accent-dark: #09803e,
    bg-clr: #F1F5F8,
    primary-text: #374656,
    // secondary-text: #788392,
    secondary-text: rgba(48, 69, 92, 0.8),
    bg-text: #fff
);

$content-max-width: 121.6rem;
$border-radius: 0.8rem;
$font-size: 1.6rem;

@function color($color-name) {
    @return map-get($colors, $color-name)
};


$tablet: 768px;

@mixin tablet {
    @media screen and (max-width: #{$tablet}) {
        @content;
    }
}

@import "sass/UI/buttons";
@import "sass/UI/headers";
@import "sass/UI/layout";
@import "sass/UI/general";

@import "sass/header/header";
@import "sass/header/navigation";
@import "sass/header/language-switch";
@import "sass/header/header-content";
@import "sass/header/steps";

// @import "sass/animation/rocket";
@import "sass/animation/general";

@import "sass/popup-video";

@import "sass/sections/benefits";
@import "sass/sections/howToWork";
@import "sass/sections/whoIsTheHero";
@import "sass/sections/feedback";
@import "sass/sections/doubleCashback";
@import "sass/sections/faq";
@import "sass/sections/ready";

@import "sass/icons";

@import "sass/footer";