footer {
    background-color: #fff;
    border-top: 1px solid #E8E9EB;
    padding-bottom: 1.6rem;

    .logo {
        display: block;
        margin: 0 auto;
    }

    .menu {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 4rem;

        @include tablet {
            flex-direction: column;
        }

        .menu-link {
            color: color(primary-text);
            font-size: 1.4rem;
            font-weight: 900;
            letter-spacing: 0.05em;
            padding: 0.8rem 1.6rem;
            text-transform: uppercase;
            transition: color 0.4s;

            &:hover {
                color: color(accent);
            }
        }
    }

    .social-conatiner {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3.2rem;

        @include tablet {
            flex-direction: column;
        }

        & > div {
            @include tablet {
                padding: 1.6rem 0;
            }
        }
    }

    .social {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-basis: 33%;

        a {
            display: inline-block;
            width: 4rem;
            height: 4rem;
            padding: 1.2rem;
            border-radius: 50%;
            box-sizing: content-box;
        }

        & [aria-label="fk"] {
            background: url(../img/fk.svg) no-repeat center;
        }
        
        & [aria-label="im"] {
            background: url(../img/im.svg) no-repeat center;
        }

        & [aria-label="yb"] {
            background: url(../img/yb.svg) no-repeat center;
        }
    }

    .contact-phone {
        font-size: 2.2rem;
        flex-basis: 33%;
        text-align: left;

        @include tablet {
            order: 1;
        }

        a {
            position: relative;
            color: color(primary-text);
            font-weight: 700;

            &::before {
                display: inline-block;
                position: relative;
                top: 0.8rem;
                margin-right: 1.6rem;
                content: '';
                width: 3.6rem;
                height: 3.4rem;
                background: url(../img/help.svg) no-repeat center;

                @include tablet {
                    display: none;
                }
            }
        }
    }

    .securedBy {
        flex-basis: 33%;
        text-align: right;

        @include tablet {
            order: 2;
        }

        img {
            margin: 0 0.8rem;
        }
    }
}