// SECTION 'HOW-TO-WORK'

#how {

    .grid {
        display: flex;
        align-items: center;
        padding: 0 7%;

        @supports (display: grid) {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        }

        &:first-of-type {
            padding-top: 2.4rem;
        }

        &:nth-of-type(even) {

            .svg-object {
                order: 1;

                @include tablet {
                    order: initial;
                }
            }
        }

        div {
            padding: 2rem 0;

            @include tablet {
                padding-bottom: 4rem;
            }
        }
    }

    .svg-object {
        max-height: 520px;
        justify-self: center;

        @include tablet {
            max-height: 320px;
        }
    }

    .ref-bgEl {
        position: absolute;
        z-index: -1;

        &:nth-of-type(1) {
            top: 5%;
            left: -25%;
        }

        &:nth-of-type(2) {
            bottom: 20%;
            right: -20%;
        }
   }
}