.mouseScroll {
    position: relative;
    width: 2.2rem;
    height: 3.5rem;
    border: 2px solid #fff;
    border-radius: 1.75rem;
    margin: 3.2rem auto 0 auto;
    animation: moveY 1100ms ease-in-out infinite alternate;
    animation-delay: 1000ms;

    @keyframes moveY {
        to {
            transform: translateY(30%);
        }
    }

    &::after {
        content: '';
        width: 2px;
        height: 6px;
        font-weight: 900;
        background-color: #fff;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        top: 4px;
        animation: mouseWheel 2200ms ease infinite;
        animation-delay: 1000ms;

        @keyframes mouseWheel {
			60%, 61% {
				opacity: 0;
				transform: translate(-50%, 0);
			}
			59% {
				transform: translate(-50%, 50%);
				opacity: 0;
			}
			80%, 100% {
				opacity: 1;
			}
        }
    }
}