// HEADER CONTENT

.counter {
    font-weight: 900;
    font-size: 9.4em;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffd63b;
    margin-bottom: 0.8rem;
    margin-top: 5rem;

    &::before {
        content: attr(data-text);
        font-weight: 700;
    }

    & + span {
        display: block;
        font-size: 1.8rem;
        line-height: 3.2rem;
        letter-spacing: 0.2rem;
        text-align: center;
        color: color(bg-clr);
        opacity: 0.8;

        @include tablet {
            font-size: 1.4rem;
            line-height: 2.4rem;
        }
    }
}

.cloud {
    position: absolute;
    width: 184px;
    height: 48px;
    z-index: -1;

    &:first-of-type {
        width: 120px;
        left: 4%;
        top: 20%;

        @include tablet {
            left: -20%;
        }
    }

    &:last-of-type {
        right: 4%;
        top: 40%;

        @include tablet {
            right: -30%;
            transform: scale(0.5);
        }
    }
}


.header .btn--secondary {
    align-self: center;
    margin: 6.4rem auto;
}