// HEADER

.header {
    position: relative;
    width: 100%;
    // min-height: 134vh;
    background: url(../img/city-symbol.svg) repeat-x bottom left, url(../img/bg.svg) repeat center -200px, url(../img/planet.svg) no-repeat 85% 40%, linear-gradient(to top, #0771b2 0%, #1487cf 100%);
    background-attachment: fixed;
    overflow: hidden;
    z-index: 2;

    @include tablet {
        min-height: 100vh;
        background-position: center -100px, right 120%, 99% 70%;
        background-attachment: initial;
    }

    .header-mask {
        display: flex;
        width: 106%;
        position: relative;
        bottom: -0.2rem;
    }

    // &::before {
    //     content: '';
    //     display: block;
    //     position: absolute;
    //     top: 0;
    //     right: 0;
    //     bottom: -2px;
    //     left: 0;
    //     background: url(../img/mask.svg) no-repeat center bottom;
    //     background-size: 101% auto;
    //     box-sizing: border-box;
    //     pointer-events: none;
    // }

    #spacegirl {
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: -50%;
        margin: 0px auto;
        z-index: -1;
        max-width: 55rem;
        
        @include tablet {
            display: none;
        }
    }

    & h1 {
        color: #fff;
        font-size: 4.3em;
        text-transform: uppercase;
        letter-spacing: 0.6rem;
        line-height: 1.8em;
        margin-top: 6.4rem;
    }

    .content {
        font-size: 1vmin;
        padding: 0 1.6rem;
        padding-bottom: 6rem;

        @include tablet {
            font-size: 1.4vmin;
        }
    }

    .mobile-nav-container {
        display: none;

        @include tablet {
            display: flex;
            justify-self: end;
            transform: translateX(1.6rem);
        }

        .nav-link-mobile {
            @include tablet {
                width: 4.8rem;
                height: 4.8rem;
                display: inline-block;
            }

            &:nth-of-type(1) {
                @include tablet {
                    background: url(../img/icon-user.svg) no-repeat center;
                }
            }

            &:nth-of-type(2) {
                @include tablet {
                    background: url(../img/icon-menu.svg) no-repeat center;
                }
            }
        }
    }
}