// LANGUAGE SWITCH

ul.language-switch {
    display: inline-block;
    margin: 0;
    margin-left: -2.4rem;
    font-size: 0;

    li{
        color: color(bg-text);
        display: inline-block;
        position: relative;
    }

    li input[type=radio]{
        position: absolute;
        visibility: hidden;
    }

    li label{
        display: block;
        position: relative;
        font-weight: 900;
        font-size: 1.2rem;
        padding: 1.2rem 1.2rem;
        margin: -0.8rem 0;
        z-index: 9;
        cursor: pointer;
        text-transform: uppercase;
        transition: all 0.25s linear;
    }

    li .check{
        display: block;
        position: absolute;
        border: 1px solid #fff;
        background-color: rgba(48, 135, 233, 0.15);
        height: 4rem;
        width: 100%;
        top: -0.8rem;
        left: 0;
        z-index: 5;
        box-sizing: border-box;
        transition: border .25s linear;
    }

    & > li:first-of-type > .check{
        border-radius: $border-radius 0 0 $border-radius;
    }

    & > li:last-of-type > .check{
        border-radius: 0 $border-radius $border-radius 0;
    }

    input[type=radio]:checked ~ .check {
        background-color: #fff;
    }
    
    input[type=radio]:checked ~ label{
        color: color(primary-text);
    }
}