.steps {
    // position: absolute;
    // bottom: 4%;
    // left: 0;
    // right: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    max-width: 118.4rem;
    margin: 0 auto;
    color: #fff;
    font-size: 1.4rem;
    line-height: 1.75;
    text-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.16);
    text-align: center;
    padding: 4rem 1.6rem;

    @include tablet {
        position: initial;
        flex-direction: column;
        padding: 1.6rem 1.6rem 8rem 1.6rem;
        margin-top: 3.2rem;
    }

    .step {
        &__arrow {
            background: url(../img/arrow-1.svg) no-repeat center;
    
            @include tablet {
                height: 5.2rem;
                background: url(../img/icon-arr-back.svg) no-repeat center;
                flex-basis: auto;
            }
        }
    
        &__two + .step__arrow {
            background: url(../img/arrow-2.svg) no-repeat center;
    
            @include tablet {
                flex-basis: auto;
                background: url(../img/icon-arr-back.svg) no-repeat center;
            }
        }
    }

    img {
        justify-self: center;
        transform: translateY(-2rem);

        @include tablet {
            padding: 1.6rem 0;
            transform: translateY(0);
        }
    }

    & h2 {
        margin-top: 1.6rem;
        font-size: 3.5rem;
        letter-spacing: initial;
        line-height: initial;

        @include tablet {
            margin-bottom: 0.2rem;
        }
    }

    & p {
        margin: 0.8rem 0;

        @include tablet {
            padding: 0 3% 0.8rem 3%;
        }
    }

    & > div {
        flex-basis: calc(100% / 7);

        @include tablet {
            background: hsla(203, 100%, 20%, 0.4);
            border-radius: 8px;
            mix-blend-mode: hard-light;
        }
    }
}