#laptop,
#cards,
#msgs {
	animation: levitation 2s ease-in-out alternate infinite;
	transform-origin: 50% 50%;
}

#telegram,
#viber,
#messenger {
	animation: levitation-sm 4s ease-in-out alternate-reverse infinite;
}

#telegram {animation-delay: -3.5s;}

#viber {animation-delay: -0.5s;}

#messenger {animation-delay: -2.5s;}

#screenSplit,
#cardFront {
	animation: moveX 2s ease-in-out alternate infinite;
}

#screenSplit {
    mix-blend-mode: screen;
}

#cardBack {
	animation: moveX 2s ease-in-out alternate infinite reverse;
}

/* shadow animation*/
.cls-2 {
	animation: scale 2s ease-in-out alternate infinite;
	transform-origin: 50% 50%;
}

/* KEYFRAMES */
@keyframes levitation {
	to {
		transform: translateY(16px);
	}
}

@keyframes levitation-sm {
	to {
		transform: translateY(8px);
	}
}

@keyframes moveX {
	to {
		transform: translateX(4px);
	}
}

@keyframes scale {
	to {
		opacity: 0.5;
		transform: scale(1.02);
	}
}